In [186]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [187]:
sdata=pd.read_csv('Sample_submission.csv')
tdata=pd.read_csv('Training Dataset.csv')
tdata.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [188]:
tdata.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [189]:

print(tdata['Gender'].unique())
mapi={
    'Male':1,
    'Female':0,
    'Yes':1,
    'No':0,
    'Y':1,
    'N':0,
    'Graduate':1,
    'Not Graduate':0,
    'Urban':2,
    'Semiurban':1,
    'Rural':0,
    np.nan:np.nan   
}
# Define a function to map values based on the dictionary
def mapp(x):
    return mapi.get(x, np.nan)  # Use .get to return NaN if the key is not found

# List of columns to map
columns_to_map = ['Gender', 'Married', 'Education', 'Self_Employed', 'Property_Area', 'Loan_Status']

# Apply the map function to each column
for col in columns_to_map:
    tdata[col] = tdata[col].map(mapp)

print(tdata)
for i in columns_to_map:
    tdata[i].fillna(tdata[i].mode()[0],inplace=True)

['Male' 'Female' nan]
      Loan_ID  Gender  Married Dependents  Education  Self_Employed  \
0    LP001002     1.0      0.0          0          1            0.0
1    LP001003     1.0      1.0          1          1            0.0
2    LP001005     1.0      1.0          0          1            1.0
3    LP001006     1.0      1.0          0          0            0.0
4    LP001008     1.0      0.0          0          1            0.0
..        ...     ...      ...        ...        ...            ...
609  LP002978     0.0      0.0          0          1            0.0
610  LP002979     1.0      1.0         3+          1            0.0
611  LP002983     1.0      1.0          1          1            0.0
612  LP002984     1.0      1.0          2          1            0.0
613  LP002990     0.0      0.0          0          1            1.0

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History  Property_Area  Loan_Status
0               1.0              2            1
1               1.0              0            0
2               1.0              2            1
3               1.0              2            1
4               1.0              2            1
..              ...            ...          ...
609             1.0              0            1
610             1.0              0            1
611             1.0              2            1
612             1.0              2            1
613             0.0              1            0

[614 rows x 13 columns]

In [205]:
print(tdata.dtypes)

Loan_ID               object
Gender               float64
Married              float64
Dependents            object
Education              int64
Self_Employed        float64
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area          int64
Loan_Status            int64
dtype: object

In [212]:
# Define a function to convert to integer and handle NaN values
def to_integer(x):
    try:
        return int(x)
    except ValueError:
        return np.nan

# Apply the conversion function to the 'Dependents' column
tdata['Dependents'] = tdata['Dependents'].map(to_integer)

print(tdata)

      Loan_ID  Gender  Married  Dependents  Education  Self_Employed  \
0    LP001002     1.0      0.0         0.0          1            0.0
1    LP001003     1.0      1.0         1.0          1            0.0
2    LP001005     1.0      1.0         0.0          1            1.0
3    LP001006     1.0      1.0         0.0          0            0.0
4    LP001008     1.0      0.0         0.0          1            0.0
..        ...     ...      ...         ...        ...            ...
609  LP002978     0.0      0.0         0.0          1            0.0
610  LP002979     1.0      1.0         3.0          1            0.0
611  LP002983     1.0      1.0         1.0          1            0.0
612  LP002984     1.0      1.0         2.0          1            0.0
613  LP002990     0.0      0.0         0.0          1            1.0

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History  Property_Area  Loan_Status
0               1.0              2            1
1               1.0              0            0
2               1.0              2            1
3               1.0              2            1
4               1.0              2            1
..              ...            ...          ...
609             1.0              0            1
610             1.0              0            1
611             1.0              2            1
612             1.0              2            1
613             0.0              1            0

[614 rows x 13 columns]

In [214]:
numeric_data=['Dependents','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History']
for i in numeric_data:
    tdata[i].fillna(tdata[i].mean(),inplace=True)

In [217]:
train=tdata

In [218]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
train[['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount']] = scaler.fit_transform(
    train[['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount']]
)

In [219]:
train.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1.0,0.0,0.0,1,0.0,0.072991,-0.554487,0.000000,360.0,1.0,2,1
1,LP001003,1.0,1.0,1.0,1,0.0,-0.134412,-0.038732,-0.219273,360.0,1.0,0,0
2,LP001005,1.0,1.0,0.0,1,1.0,-0.393747,-0.554487,-0.957641,360.0,1.0,2,1
3,LP001006,1.0,1.0,0.0,0,0.0,-0.462062,0.251980,-0.314547,360.0,1.0,2,1
4,LP001008,1.0,0.0,0.0,1,0.0,0.097728,-0.554487,-0.064454,360.0,1.0,2,1

In [220]:
x=train.drop(['Loan_ID','Loan_Status'],axis=1)
y=train['Loan_Status']

In [221]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [222]:
from sklearn.ensemble import RandomForestClassifier
re=RandomForestClassifier(n_estimators=100)
re.fit(x_train,y_train)

RandomForestClassifier()

In [223]:
y_pred=re.predict(x_test)

In [224]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

0.7886178861788617

In [227]:
#fittinghowledata
newx=train.drop(['Loan_ID','Loan_Status'],axis=1)  
newy=train['Loan_Status']

renew=RandomForestClassifier(n_estimators=100)
renew.fit(newx,newy)

1.0

In [228]:
test=pd.read_csv('Test Dataset.csv')
test.drop(['Loan_ID'],axis=1,inplace=True)